/*
	main-bg-color: #AF180B;
*/

html,
li{
	
}
.page-content{
	background: #fff;
}
.red-bg-content,
.red-bg-content ul,
.red-bg-content li,
.red-bg-content li .item-content,
.red-bg-content li .item-inner,
.red-bg-content:after,
.login-screen-content{
	background: #AF180B !important;
}
.grey-bg-content,
.grey-bg-content ul,
.grey-bg-content li,
.grey-bg-content .item-content,
.grey-bg-content .item-inner,
.grey-bg-content .item-inner:after{
	background: #F0F0F0 !important;
}
.grey-bg-content-outside
{
	background: #F0F0F0 !important;
}
.dark-bg-content,
.dark-bg-content ul,
.dark-bg-content li,
.dark-bg-content .item-content,
.dark-bg-content .item-inner,
.dark-bg-content :after{
	background: #8E0500 !important;
}
.item-content,
.list-button,
.place-order-menu-col img
.curve-border{
	border-radius: 5px;  /*=======BORDER=======*/
}
.ginterest-login{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
}
.login-box .list-block{
	margin: 10px auto !important;
}
.statusbar-overlay{
	background: #AF180B !important;
}
.bold{
	font-weight: normal;
}
.color-text{
	color:#AF180B !important;
}
.color-white{
	color:#fff !important;
}
.color-black{
	color:#000 !important;
}
.color-input{
	color:#000 !important;
}
.color-input ::-webkit-input-placeholder{
	color:#BDBDBD;
}
.max-width{
	width: 100%;
}
.item-content{
	background:#fff;
}
.list-button{
	color:#fff;
	font-size: 16px;
	background:#AF180B;
	border: 1px solid #fff;
    padding: 10px 40px; 
}
.navbar{
	background: #AF180B;
}
.navbar:after{
	background: #AF180B;
}
.navbar-inner .center{
	color: #fff;
}
.center-content{
	position: absolute;
	font-size: 20px;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	text-align: center;
}
.align-left{
	position: relative;
	align-content: flex-start;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}
.align-center{
	position: relative;
	align-content: center;
	display: flex;
	text-align: center;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
.align-right{
	position: relative;
	align-content: flex-end;
	display: flex;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.table-button{
	width: 30vh;
	position: relative;
	background:#AF180B;
	border: 2px solid #fff;
    padding: 5vh 0; 
	margin-bottom: 4vh;
	display: block;
	font-size: 3vh;
	text-align: center;
	border-radius: 8px;  
}
.table-button img{
	max-width: 10vh;
	max-height: 10vh;
}
.table-main-row{
	position: absolute;
	width: 1000px;
	left: 46%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
}
.ads-slider{
	margin-left: 2vh;
	position: relative;
	max-width: 65vh;
	max-height: 85vh;
	border-radius: 8px;  
}
.ads-slider img{
	position: relative;
	width: 100%;
	height: auto;
}
.place-order-col{
	position: relative;
	overflow: auto;
	height: calc(100vh - 182px);
	margin: 5px 5px;
}
.place-order-menu-col{
	position: relative;
	overflow: auto;
	height: calc(100vh - 44px);
}
.history-content{
	position: relative;
	overflow: auto;
	height: calc(100vh - 128px);
	margin: 5px 5px;
}

.history-grand-total{
	font-size: 22px;
	line-height: 44px;
}
.history-grand-total .item-after{
	max-height: 44px;
}
.place-order-menu-col img{
	position: relative;
	height: 100px;
	width: 120px;
	max-width: 100%;
	left: 50%;
	margin: 5px 10px 0 -30%;
}
.content-block-title{
	margin: 15px 15px;
}
.order-submit-buton{
	margin-right: 10px;
}
.check-out-list{
	position: relative;
	overflow: auto;
	height: calc(100vh - 495px);
}
.check-out-button{
	height: 15vh;
	position: relative;
	background:#AF180B;
	border: 2px solid #fff;
    padding: 3vh 0 0.5vh 0; 
	display: block;
	font-size: 2.5vh;
	text-align: center;
	border-radius: 8px;  
}
.check-out-button img{
	max-height: 8vh;
}
.button-block{
	padding: 0 15px;
}